* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
}

.logo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.logo img:hover {
    transition: 2s;
    opacity: 2;
}

.session ul {
    list-style-type: none;
    display: flex;
}

.session ul li {
    margin: 0 15px;
    position: relative; 
}

.session ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.session ul li a:hover {
    background-color: #fff;
    color: black;
    border-radius: 20px;
    transition: 1s;
}
.session ul li a:active{
    color: green;
    font-weight: bold;
}

.session ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444; 
    border-radius: 10px;
    padding: 5px 0; 
    min-width: 150px; 
    z-index: 10;
}

.session ul li .dropdown li {
    margin: 0;
}

.session ul li .dropdown li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    background-color: #444; 
    text-align: left;
    border-radius: 21px;
}

.session ul li .dropdown li a:hover {
    background-color: #fff; 
    border-radius: 20px;
    transition: 1s;
    color: black;
}


.session ul li:hover .dropdown {
    display: block;
}
.name{
    text-align: center;
    line-height: 7;

    
}
.dep{
    line-height: 2;
    text-align: center;
}
.campus{
    text-align: center;
    line-height: -2;
}

.subject{
    text-align: center;
    line-height: 2;
}
.se21{
    text-align: center;
    line-height: 2;
}
.session21{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.se22{
    text-align: center;
}
.foo{
    background-color: black;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 15px;
    color: #fff;
}
.best{
    text-align: center;
    text-decoration: dotted;
    font-style: italic;
    line-height: 3;
    border: 2px solid black;
    border-color: black;
    background-color:black;
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    transition: 1s;
}
.best:hover{
    background-color: #fff;
    color: black;
    transition: 2s;
    box-shadow: 2px soid black;
}
.foo{
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.admin:hover{
    transition: 1s;
    box-shadow: 2px solid black;

}
